<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.sbarchive.mapper.signboard.SignBoardFileMapper">

    <insert id="addSignboardImages">
        INSERT INTO signboard_file (signboardId, fileName)
        VALUES (#{signboardId}, #{fileName});
    </insert>

    <select id="getSignboardImages" resultType="String">
        select fileName from signboard_file sf where sf.signboardId = #{signboardId};
    </select>


    <delete id="removeSignboardImages">
        delete from signboard_file where signboardId = #{signboardId}
    </delete>

</mapper>