<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.sbarchive.mapper.signboard.SignBoardMapper">

    <resultMap id="getListWithImages" type="com.project.sbarchive.dto.signboard.SignBoardAllDTO">
        <result property="signboardId" column="signboardId"></result>
        <result property="userId" column="userId"></result>
        <result property="nickname" column="nickname"></result>
        <result property="xOffSet" column="xOffSet"></result>
        <result property="yOffSet" column="yOffSet"></result>
        <result property="title" column="title"></result>
        <result property="address" column="address"></result>
        <result property="content" column="content"></result>
        <result property="addDate" column="addDate"></result>
        <result property="modDate" column="modDate"></result>
        <collection property="files" column="fileName" javaType="java.util.ArrayList" ofType="String">
            <result property="fileName" column="fileName"></result>
        </collection>
    </resultMap>

<!--    <resultMap id="fileMap" type="String">-->
<!--        <result column="fileName"></result>	&lt;!&ndash; property가 없는 이유는 List<String>이라 필드가 없어서 &ndash;&gt;-->
<!--    </resultMap>-->

    <insert id="addSignboard" parameterType="com.project.sbarchive.vo.signboard.SignBoardVO" useGeneratedKeys="true" keyProperty="signboardId">
        INSERT INTO `signboard` (`userId`, `nickname`, `xOffSet`, `yOffSet`, `title`, `address`, `content`, `addDate`, `modDate`)
        VALUES (#{userId}, #{nickname}, #{xOffSet}, #{yOffSet}, #{title}, #{address}, #{content}, now(), now())
    </insert>

    <select id="getSignboard" resultType="com.project.sbarchive.vo.signboard.SignBoardVO">
        select * from `signboard` where `signboardId` = #{signboardId};
    </select>

    <select id="getSignboardList" resultMap="getListWithImages">
        select sb.*, sf.`fileName` from `signboard` sb LEFT JOIN `signboard_file` sf on sb.`signboardId` = sf.`signboardId`;
    </select>

    <select id="getSearchSignboardList" resultMap="getListWithImages">
        select sb.*, sf.`fileName` from `signboard` sb left join `signboard_file` sf on sb.`signboardId` = sf.`signboardId`
        where `title` LIKE concat('%', #{keyword}, '%') OR `address` LIKE concat('%', #{keyword}, '%') group by sb.signboardId
        order by sb.`signboardId` desc limit #{skip}, #{size};
    </select>

    <select id="getSignboardListWithPaging" resultMap="getListWithImages">
        select sb.*, sf.`fileName` from `signboard` sb
        LEFT JOIN `signboard_file` sf
        on sb.`signboardId` = sf.`signboardId` group by `signboardId` order by `signboardId` desc limit #{skip}, #{size};
    </select>

    <select id="getCount" resultType="int">
        select count(*) from `signboard`;
    </select>

    <select id="getSearchCount" resultType="int">
        select count(*) from `signboard` where `title` LIKE concat('%', #{keyword}, '%') OR `address` LIKE concat('%', #{keyword}, '%')
    </select>
    
    <update id="modifySignboard">
        update `signboard` set `content` = #{content}, `modDate` = now() where `signboardId` = #{signboardId}
    </update>

    <delete id="removeSignboard">
        delete from `signboard` where `signboardId` = #{signboardId}
    </delete>

    <select id="getSearchSBList" resultMap="getListWithImages">
        select sb.*, sf.`fileName` from `signboard` sb left join `signboard_file` sf on sb.`signboardId` = sf.`signboardId`
        where `title` LIKE concat('%', #{keyword}, '%') OR `address` LIKE concat('%', #{keyword}, '%') group by sb.signboardId
        order by sb.`signboardId` desc;
    </select>

</mapper>