<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{/layout/layout.html}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" defer></script>
<style layout:fragment="style">

</style>

<div layout:fragment="content">
    <link rel="stylesheet" href="/css/admin/management.css">
    <div class="manage_container">
        <div class="manage_wrap">
            <div class="manage_item manage_user">
                <h3>USER</h3>
                <div class="manage_table_container">
                    <table class="manage_item_table user_item_table">
                    </table>
                </div>
                <ul class="user_page_wrap page_wrap"></ul>
            </div>

            <div class="manage_item manage_signboard">
                <h3>SIGNBOARD</h3>
                <div class="manage_table_container">
                    <table class="manage_item_table signboard_item_table">
                    </table>
                </div>
                <ul class="signboard_page_wrap page_wrap"></ul>
            </div>

            <div class="manage_item manage_board">
                <div>
                    <h3>BOARD</h3>
                    <a href="/admin/exBoards/1">만료된 게시글 관리 <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
                <div class="manage_table_container">
                    <table class="manage_item_table board_item_table">
                    </table>
                </div>
                <div class="board_footer">
                    <ul class="board_page_wrap page_wrap"></ul>
                </div>
            </div>

            <div class="manage_item manage_report">
                <h3>REPLIES</h3>
                <div class="manage_table_container">
                    <table class="manage_item_table replies_item_table">
                    </table>
                </div>
                <ul class="replies_page_wrap page_wrap"></ul>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/admin/managementAsync.js"></script>
    <script>
        // 테이블 모음
        const usersTable = document.querySelector(".user_item_table");
        const signboardsTable = document.querySelector(".signboard_item_table");
        const boardsTable = document.querySelector(".board_item_table");
        const repliesTable = document.querySelector(".replies_item_table");
        // 해당 테이블의 페이징 ul 모음
        const usersPageWrap = document.querySelector(".user_page_wrap");
        const signboardsPageWrap = document.querySelector(".signboard_page_wrap");
        const boardsPageWrap = document.querySelector(".board_page_wrap");
        const repliesPageWrap = document.querySelector(".replies_page_wrap");
        // 페이징 재료
        let userPageNum = 1;
        let signboardPageNum = 1;
        let boardPageNum = 1;
        let repliesPageNum = 1;



        addUsersForm();
        addSignboardsForm();
        addBoardsForm();
        addRepliesForm();

        function addUsersForm() {
            getUsers(userPageNum).then( users => {

                let str = "<tr class=\"table_header_row\">\n" +
                    "                        <th>아이디</th>\n" +
                    "                        <th>이메일</th>\n" +
                    "                        <th>생성일자</th>\n" +
                    "                        <th>추방</th>\n" +
                    "                    </tr>\n";
                for(let user of users.dtoList) {
                    str += "                    <tr class=\"table_row\">\n" +
                        "                        <td>"+ user.userId +"</td>\n" +
                        "                        <td>"+ user.email +"</td>\n" +
                        "                        <td>"+ user.regDate[0]+"-"+user.regDate[1]+"-"+user.regDate[2]+"</td>\n" +
                        "                        <td><i class=\"fa-solid fa-trash user-trash\" data-pk='"+user.userId+"'></i></td>\n" +
                        "                    </tr>";
                }
                str += "</table>";
                usersTable.innerHTML = str;

                // 페이지 영역
                let pageStr = "";
                if(users.prev) {
                    pageStr +=             "      <li class=\"page_item\">\n" +
                        "        <a class=\"page_link user_page_link\" data-num=\""+ (users.start-1) +"\"><i class=\"fa-solid fa-left-long\" style=\"color: #3f4040;\"></i>Prev</a>\n" +
                        "      </li>\n";
                }
                for(let i=users.start; i<=users.end; i++) {
                    if(userPageNum==i) {
                        pageStr +=             "        <li class=\"page_item\">\n" +
                            "          <a class=\"page_link user_page_link active\" data-num=\""+ i + "\">"+i+"</a>\n" +
                            "        </li>\n";
                    } else {
                        pageStr +=             "        <li class=\"page_item\">\n" +
                            "          <a class=\"page_link user_page_link\" data-num=\""+ i + "\">"+i+"</a>\n" +
                            "        </li>\n";
                    }
                }
                if(users.next) {
                    pageStr +=             "      <li class=\"page_item\">\n" +
                        "        <a class=\"page_link user_page_link\" data-num=\"" + (users.end+1) +"\">Next</a>\n" +
                        "      </li>\n";
                }
                pageStr +=             "    </ul>\n" +
                    "  </div>";

                usersPageWrap.innerHTML = pageStr;
                getPageNum();
                removeBtn(".user-trash");
            }).catch(e => {
                console.log(e)
            })
        }

        function addSignboardsForm() {
            getSignboards(signboardPageNum).then( signboards => {

                let str = "<tr class=\"table_header_row\">\n" +
                    "                        <th>인덱스</th>\n" +
                    "                        <th>제목</th>\n" +
                    "                        <th>등록일</th>\n" +
                    "                        <th>삭제</th>\n" +
                    "                    </tr>\n";
                for(let signboard of signboards.dtoList) {
                    str += "                    <tr class=\"table_row\">\n" +
                        "                        <td>"+ signboard.signboardId +"</td>\n" +
                        "                        <td><a href='/signboard/read/1/"+signboard.signboardId+"?admin=admin'>"+ signboard.title +"</td>\n" +
                        "                        <td>"+ signboard.addDate.split(" ")[0] +"</td>\n" +
                        "                        <td><i class=\"fa-solid fa-trash signboard-trash\" data-pk='"+signboard.signboardId+"'></i></td>\n" +
                        "                    </tr>";
                }
                str += "</table>";
                signboardsTable.innerHTML = str;

                // 페이지 영역
                let pageStr = "";
                if(signboards.prev) {
                    pageStr +=             "      <li class=\"page_item\">\n" +
                        "        <a class=\"page_link signboard_page_link\" data-num=\""+ (signboards.start-1) +"\"><i class=\"fa-solid fa-left-long\" style=\"color: #3f4040;\"></i>Prev</a>\n" +
                        "      </li>\n";
                }
                for(let i=signboards.start; i<=signboards.end; i++) {
                    if(signboardPageNum==i) {
                        pageStr +=             "        <li class=\"page_item\">\n" +
                            "          <a class=\"page_link signboard_page_link active\" data-num=\""+ i + "\">"+i+"</a>\n" +
                            "        </li>\n";
                    } else {
                        pageStr +=             "        <li class=\"page_item\">\n" +
                            "          <a class=\"page_link signboard_page_link\" data-num=\""+ i + "\">"+i+"</a>\n" +
                            "        </li>\n";
                    }
                }
                if(signboards.next) {
                    pageStr +=             "      <li class=\"page_item\">\n" +
                        "        <a class=\"page_link signboard_page_link\" data-num=\"" + (signboards.end+1) +"\">Next</a>\n" +
                        "      </li>\n";
                }
                pageStr +=             "    </ul>\n" +
                    "  </div>";

                signboardsPageWrap.innerHTML = pageStr;
                getPageNum();
                removeBtn(".signboard-trash");
            }).catch(e => {
                console.log(e)
            })
        }

        function addBoardsForm() {
            getBoards(boardPageNum).then( boards => {

                let str = "<tr class=\"table_header_row\">\n" +
                    "                        <th>인덱스</th>\n" +
                    "                        <th>제목</th>\n" +
                    "                        <th>등록일</th>\n" +
                    "                        <th>삭제</th>\n" +
                    "                    </tr>\n";
                for(let board of boards.dtoList) {
                    str += "                    <tr class=\"table_row\">\n" +
                        "                        <td>"+ board.boardId +"</td>\n" +
                        "                        <td><a href='/board/read?boardId="+board.boardId+"&page=1&size=10&admin=admin'>"+ board.title +"</a></td>\n" +
                        "                        <td>"+ board.addDate[0]+"-"+board.addDate[1]+"-"+board.addDate[2]+"</td>\n" +
                        "                        <td><i class=\"fa-solid fa-trash board-trash\" data-pk='"+board.boardId+"'></i></td>\n" +
                        "                    </tr>";
                }
                str += "</table>";
                boardsTable.innerHTML = str;

                // 페이지 영역
                let pageStr = "";
                if(boards.prev) {
                    pageStr +=             "      <li class=\"page_item\">\n" +
                        "        <a class=\"page_link board_page_link\" data-num=\""+ (boards.start-1) +"\"><i class=\"fa-solid fa-left-long\" style=\"color: #3f4040;\"></i>Prev</a>\n" +
                        "      </li>\n";
                }
                for(let i=boards.start; i<=boards.end; i++) {
                    if(boardPageNum==i) {
                        pageStr +=             "        <li class=\"page_item\">\n" +
                            "          <a class=\"page_link board_page_link active\" data-num=\""+ i + "\">"+i+"</a>\n" +
                            "        </li>\n";
                    } else {
                        pageStr +=             "        <li class=\"page_item\">\n" +
                            "          <a class=\"page_link board_page_link\" data-num=\""+ i + "\">"+i+"</a>\n" +
                            "        </li>\n";
                    }
                }
                if(boards.next) {
                    pageStr +=             "      <li class=\"page_item\">\n" +
                        "        <a class=\"page_link board_page_link\" data-num=\"" + (boards.end+1) +"\">Next</a>\n" +
                        "      </li>\n";
                }
                pageStr +=             "    </ul>\n" +
                    "  </div>";

                boardsPageWrap.innerHTML = pageStr;
                getPageNum();
                removeBtn(".board-trash");
            }).catch(e => {
                console.log(e)
            })

        }

        function addRepliesForm() {
            getReplies(repliesPageNum).then( replies => {

                let str = "<tr class=\"table_header_row\">\n" +
                    "                        <th>인덱스</th>\n" +
                    "                        <th>작성자</th>\n" +
                    "                        <th>등록일</th>\n" +
                    "                        <th>삭제</th>\n" +
                    "                    </tr>\n";
                for(let reply of replies.dtoList) {
                    str += "                    <tr class=\"table_row\">\n" +
                        "                        <td>"+ reply.replyId +"</a></td>\n" +
                        "                        <td><a href='/board/read?boardId="+reply.boardId+"&page=1&size=10&admin=admin'>"+ reply.userId +"</a></td>\n" +
                        "                        <td>"+ reply.addDate.split(" ")[0] +"</td>\n" +
                        "                        <td><i class=\"fa-solid fa-trash replies-trash\" data-pk='"+reply.replyId+"'></i></td>\n" +
                        "                    </tr>";
                }
                str += "</table>";
                repliesTable.innerHTML = str;

                // 페이지 영역
                let pageStr = "";
                if(replies.prev) {
                    pageStr +=             "      <li class=\"page_item\">\n" +
                        "        <a class=\"page_link replies_page_link\" data-num=\""+ (replies.start-1) +"\"><i class=\"fa-solid fa-left-long\" style=\"color: #3f4040;\"></i>Prev</a>\n" +
                        "      </li>\n";
                }
                for(let i=replies.start; i<=replies.end; i++) {
                    if(repliesPageNum==i) {
                        pageStr +=             "        <li class=\"page_item\">\n" +
                            "          <a class=\"page_link replies_page_link active\" data-num=\""+ i + "\">"+i+"</a>\n" +
                            "        </li>\n";
                    } else {
                        pageStr +=             "        <li class=\"page_item\">\n" +
                            "          <a class=\"page_link replies_page_link\" data-num=\""+ i + "\">"+i+"</a>\n" +
                            "        </li>\n";
                    }
                }
                if(replies.next) {
                    pageStr +=             "      <li class=\"page_item\">\n" +
                        "        <a class=\"page_link replies_page_link\" data-num=\"" + (replies.end+1) +"\">Next</a>\n" +
                        "      </li>\n";
                }
                pageStr +=             "    </ul>\n" +
                    "  </div>";

                repliesPageWrap.innerHTML = pageStr;
                getPageNum();
                removeBtn(".replies-trash");
            }).catch(e => {
                console.log(e)
            })
        }


        // 타입을 받아서 현재 클릭한 페이지의 인덱스를 알맞은 변수에 넣어줌
        function getPageNum() {
            const pageLinks = document.querySelectorAll(".page_link");
            pageLinks.forEach(pageLink => {
                pageLink.addEventListener("click", function (e){
                    e.preventDefault();
                    let type = pageLink.classList[1].split("_")[0];
                    if(type === "user") {
                        userPageNum = pageLink.dataset.num;
                        addUsersForm();
                    } else if(type === "signboard") {
                        signboardPageNum = pageLink.dataset.num;
                        addSignboardsForm();
                    } else if(type === "board") {
                        boardPageNum = pageLink.dataset.num;
                        addBoardsForm();
                    } else if(type === "replies") {
                        repliesPageNum = pageLink.dataset.num;
                        addRepliesForm();
                    }
                })
            })

        }

        function removeBtn(type) {
            let removeBtns = document.querySelectorAll(type);
            removeBtns.forEach( removeBtn => {
                removeBtn.addEventListener("click", function (){
                    const removeType = type.split("-")[0].split(".")[1];
                    const typeId = removeBtn.dataset.pk;
                    if(confirm("삭제하시겠습니까?")) {
                        removeFromManger(removeType, typeId).then(function (){
                            self.location.reload();
                        }).catch( e => {
                            console.log(e);
                        });

                    } else {
                        alert("삭제를 취소했습니다");
                    }
                })
            })
            const Type = type.split("-")[0].split(".")[1];
            // 오늘은 여기까지 삭제 후 페이지에 바로 반영되게 수정해야 함
            if(Type === "user") {
                console.log(Type)
                // addUsersForm();
            } else if (Type === "signboard") {
                console.log(Type)
                // addSignboardsForm();
            } else if (Type === "board") {
                console.log(Type)
                // addBoardsForm();
            } else {
                console.log(Type)
                // addRepliesForm();
            }

        }

    </script>
</div>


</html>
<!--xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" 시큐리티 화면 인증처리 -->