<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>암행어사 - 외국어 간판 아카이브</title>
</head>
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>RUN CHARITY </title>

<!-- 폰트어썸 -->
<script src="https://kit.fontawesome.com/4ae8b5f015.js" crossorigin="anonymous"></script>

<!-- boxicon -->
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<!-- Styles -->
<link rel='stylesheet' href='/assets/css/bootstrap.min.css'>
<link rel='stylesheet' href='/assets/css/animate.min.css'>
<link rel='stylesheet' href="/assets/css/font-awesome.min.css"/>
<link rel='stylesheet' href="/assets/css/style.css?"/>

<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap" rel="stylesheet">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

<![endif]-->

<!-- Favicon -->
<link rel="shortcut icon" href="/img/icon1.png">
<!--<link rel="shortcut icon" href="/static/assets/img/intro.jpg">-->
<th:block layout:fragment="style">

</th:block>
<style>
  nav ul li a {
    font-family: 'BookkMyungjo-Bd' !important;
    font-size: 16px !important;
  }
  @font-face {
    font-family: 'BookkMyungjo-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }

  .nav_point {
    color: red;
  }
</style>
<body>
<!-- End Hero Bg
	================================================== -->
<!-- Start Header
	================================================== -->
<header id="header" class="navbar navbar-inverse navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Your Logo -->
      <a href="/" style="display: flex"><img src="/img/logo_.png" style="height: 70px"><img src="/img/logo_text.png" style="height: 80px"></a>
    </div>
    <!-- Start Navigation -->
    <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a class="dropdown-item" href="/">지도</a>
        </li>
        <li>
          <a class="dropdown-item" href="/signboard/list/1">외국어 간판 모음집</a>
        </li>
        <li>
          <a class="dropdown-item" href="/board/list">자유게시판</a>
        </li>
        <li>
          <a class="dropdown-item" href="/user/login" sec:authorize="!isAuthenticated()">로그인</a>
          <a class="dropdown-item" href="/logout" sec:authorize="isAuthenticated()">로그아웃</a>
        </li>
        <li>
          <a class="dropdown-item" href="/user/joinAuth" sec:authorize="!isAuthenticated()">회원가입</a>
          <a class="dropdown-item" href="/my/mypage" sec:authorize="isAuthenticated()">마이페이지</a>
        </li>
        <li>
          <a class="dropdown-item" href="/admin/management" sec:authorize="hasRole('ADMIN')">관리 <i class="fa-solid fa-gear"></i></a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="margin-block"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>


<th:block class="content" layout:fragment="content">


</th:block>

<div class="margin-block"></div>
<!-- Credits
=============================================== -->
<section id="credits" class="text-center">
	<span class="social wow zoomIn">
	<a href="#"><i class="fa fa-facebook"></i></a>
	<a href="#"><i class="fa fa-twitter"></i></a>
	<a href="#"><i class="fa fa-skype"></i></a>
	<a href="#"><i class="fa fa-linkedin"></i></a>
	<a href="#"><i class="fa fa-pinterest"></i></a>
	<a href="#"><i class="fa fa-google-plus"></i></a>
	</span><br/>
  Shared by <i class="fa fa-love"></i><a href="https://bootstrapthemes.co">BootstrapThemes</a>
</section>
<!-- Bootstrap core JavaScript
	================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<!--<script src="/assets/js/waypoints.min.js"></script>-->
<!--<script src="/assets/js/jquery.scrollTo.min.js"></script>-->
<!--<script src="/assets/js/jquery.localScroll.min.js"></script>-->
<!--<script src="/assets/js/jquery.magnific-popup.min.js"></script>-->
<!--<script src="/assets/js/validate.js"></script>-->
<!--<script src="/assets/js/common.js"></script>-->
<script src="/js/main/easterEgg.js"></script>

</body>
<th:block layout:fragment="script" th:inline="javascript">


</th:block>


</html>
