body{
    overflow-x: hidden;
}

.index_map {
    position: relative;
    width: 100%;
    height: 830px;
    background-color: #3c3c3c;
}

.index_search {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 400px;
    height: 100px;
    padding: 15px;
    justify-self: center;
    background-color: #fff;
    transform: translate(-50%);
    text-align: center;
    transition: all ease-in-out 0.4s;
    z-index: 1500;
}

.index_search i {
    font-size: 30px;
    cursor: pointer;
}

.index_search_form {
    display: none;
    margin-top: 15px;
}

.index_search_form .input_div {
    display: flex;
    width: 300px;
    margin: 0 auto;
}

.index_search_form a {
    margin-top: 5px;
    cursor: pointer;
    font-weight: bold;
}

.index_search_form p {
    font-size: 14px;
    margin-top: 10px;
}

.hide {
    display: none;
}

.border_bottom{
    border-bottom: 1px solid  #3c3c3c;
}

.index_content_wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 35px;
    box-sizing: border-box;
}

.index_intro {
    width: 1200px;
    height: 500px;
    background-image: url("/images/img/3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.index_intro > article {
    padding: 15px;
    background: rgba(255, 255, 255, 0.8);
}

.index_intro > article > .title {
    margin-top: 10px;
}

.sub_title{
    display: block;
    font-size: 20px;
}

.title {
    display: block;
    font-size: 35px;
    font-weight: 900;
}

.intro_con {
    display: block;
    margin-top: 15px;
}

.index_intro article {
    letter-spacing: -0.25px;
    font-size: 16px;
    line-height: 22px;
}

.index_signboard {
    width: 100%;
    height: 600px;
    margin: 0 auto;
}

.index_signboard .swiper-container {
    max-width: 1200px;
    height: 400px;
    overflow: visible;
    position: relative;
}

.swiper-button-next{
    position: absolute;
    right: 0;
}

.swiper-button-prev{
    position: absolute;
    right: 0;
}

.swiper-slide {
    border: 1px solid #c4c4c4;
    background-color: #fff;
    opacity:0.4;
    transition: opacity 0.3s;
}

.swiper-slide > a {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: 100%;
}

.swiper-slide-active,
.swiper-slide-active + .swiper-slide,
.swiper-slide-active + .swiper-slide + .swiper-slide,
.swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide {opacity:1}

.slide_img {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.slide_img img {
    width: 100%;
    height: 100%;
}

.slide_txt {
    padding: 20px;

}

.slide_txt p {
    font-size: 22px;
    font-weight: 800;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.index_board {
    display: flex;
    justify-content: space-between;
}

.index_board .board_txt {
    width: 250px;
}

.board_con_div{
    padding: 5px !important;
    height: 115px;
    background-color: #fff;
}

.board_con_div_item {
    border: 1px solid #c4c4c4;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.item_1 {
    width: 75%;
}

.item_2 {
    width: 25%;
}


.board_tit {
    display: block;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.board_init {
    display: block;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media all and (min-width:1024px) {
    .index_map {
        height: 640px;
    }
}

/* 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    .index_map {
        height: 520px;
    }
}

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {

}

/* 모바일 세로 (해상도 ~ 479px)*/
@media all and (max-width:479px) {
    body{
        overflow-x: scroll;
    }

    .index_map {
        height: 560px;
    }

    .index_search {
        width: 375px;
    }

    .index_board {
        min-width: 220px;
        display: flex;
        flex-direction: column;
    }

    .index_board > .container {
        margin: 0;
        padding: 0 0 20px 0;
    }

    .index_intro {
        min-width: 220px;
    }

    .index_intro > * {
        min-width: 220px;
    }

    .swiper-container, .swiper-wrapper {
        overflow-x: hidden;
    }

    .swiper-slide {
        min-width: 220px;
    }
}
