<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{/layout/layout.html}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" defer></script>
<style layout:fragment="style">
    .boardList_form {
        margin: 0 auto;
        padding-top: -50px;
        width: 100%

    }
    .searchline {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .notice {
        color: red;
        font-size: 12px;
        font-family: 함초롬바탕;
        border: 2px solid red;
         border-radius: 10px;
        padding: 4px;
        margin: 0 4px;

    }
    .admin-row {
        background: #ce8483;
        font-family: 함초롬바탕;
    }
    th {
        text-align: center !important;
    }


</style>

<div layout:fragment="content" style="text-align: center" class="center-block">

    <div style="padding: 80px; width: 70%; margin: 0 auto">
        <table class="table table-hover">
            <div class="row mt-3 boardList_form" >
                <form action="/board/list" method="get">
                    <div class="d-flex flex-row-reverse">
                        <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
                        <div class="input-group searchline">
                            <div class="input-group-prepend">
                                <select class="form-select" name="types" style="margin-right: 20px;">
                                    <option value="" th:selected="${pageRequestDTO.types == ''}">검색</option>
                                    <option value="n" th:selected="${pageRequestDTO.types == 'n'}">아이디</option>
                                    <option value="s" th:selected="${pageRequestDTO.types == 's'}">제목</option>
                                    <option value="c" th:selected="${pageRequestDTO.types == 'c'}">내용</option>
                                </select>
                            </div>
                            <input style="width: 300px" type="text" class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary searchBtn" type="submit" style="margin: 0 5px;">검색</button>
                            </div>
                            <div>
                                <button class="btn btn-outline-secondary clearBtn" type="reset">초기화</button>
                            </div>

                            <div>
                                <button class="btn btn-outline-secondary addboard" type="button" style="margin-left: 5px; background: #01B0D1">게시물작성</button>
                            </div>
                            <div>
                                <button th:if="${name != null and name == 'admin'}"
                                        class="btn btn-outline-secondary addnotice" type="button" style="margin-left: 5px; background: #01B0D1">공지사항작성</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <tr>
                <th>번호</th>
                <th style="width: 480px; text-align: center">제목</th>
                <th>글쓴이</th>
                <th>작성일</th>
                <th>조회</th>
                <th>좋아요</th>
            </tr>
            <tr th:each="dto:${responseDTO.dtoList}" th:with="link=${pageRequestDTO.getLink}" th:class="${dto.userId == 'admin' ? 'admin-row' : ''}">
                <td><i th:if="${dto.userId}==admin" class="notice">공지사항</i><a th:href="|@{/board/read(boardId=${dto.boardId})}&${link}|">[[${dto.boardId}]]</a></td>
                <td><a style="margin-left: 50px" th:href="|@{/board/read(boardId=${dto.boardId})}&${link}|">[[${dto.title}]] <span style="color: red;">([[${dto.replyCount}]])</span></a></td>
                <td><a th:href="|@{/board/read(boardId=${dto.boardId})}&${link}|">[[${dto.nickname}]]
                    <span>( [[${dto.userId.substring(0, 4)  + '*' * (dto.userId.length() - 4)}]])</span></a></td>
                <td th:if="${dto.addDate == dto.modDate}" th:text="${dto.addDate.toString().substring(0, 10)}"></td>
                <td th:if="${dto.addDate != dto.modDate}" th:text="${dto.modDate.toString().substring(0, 10)}"></td>
                <td th:text="${dto.hit}"></td> <!-- 이 부분 수정 -->
                <td th:text="${dto.likeUp}"></td>
            </tr>
        </table>
    </div>
    <div class="center-block">
        <ul class="pagination flex-wrap">
            <li class="page-item" th:if="${responseDTO.prev}">
                <a class="page-link" th:data-num="${responseDTO.start - 1}">이전으로</a>
            </li>
            <th:block th:each="i:${#numbers.sequence(responseDTO.start, responseDTO.end)}">
                <li th:class="${responseDTO.page == i} ? 'page-item active' : 'page-item'">
                    <a class="page-link" th:if="${responseDTO.page != 0}" th:data-num="${i}" href="#">[[${i}]]</a>
                </li>
            </th:block>
            <li class="page-item" th:if="${responseDTO.next}">
                <a class="page-link" th:data-num="${responseDTO.end +1}">다음으로</a>
            </li>
        </ul>
    </div>
    <script layout:fragment="script" th:inline="javascript">




        document.querySelector(".pagination").addEventListener("click",function (e) {


            const target = e.target;

            if (target.tagName !== 'A') {
                return;
            }
            const num = parseInt(target.getAttribute("data-num"));

            const formObj = document.querySelector("form");

            formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`;

            formObj.submit();
        },false)

        document.querySelector('.addboard').addEventListener('click',function (e) {
            location.href = '/board/add'
        });
        document.querySelector('.addnotice').addEventListener('click',function (e) {
            location.href = '/board/addNotice'
        })








    </script>
</div>


</html>