<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{/layout/layout.html}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" defer></script>
<style layout:fragment="style">
    .boardModify_form {
        margin: 0 auto;
        padding-top: 150px;
        width: 800px;
        height: 1000px;

    }
    textarea {
        width: 100%;
        height: 6.25em;
        border: none;
        resize: none;
    }
    .topline {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btnBot{
        margin-right: 5px;
    }

</style>

<div layout:fragment="content">
    <form action="/board/modify" method="post" class="boardModify_form" enctype="multipart/form-data" >
        <h2 class="mb-4">게시판 글 수정</h2>
        <form action="/board/modify" method="post" name="frmAdd" enctype="multipart/form-data">
            <input hidden="hidden" th:value="${dto.boardId}" name="boardId">
            <div class="topline">
                <div class="form-group">
                    <span for="userId">아이디</span>
                </div>
                <div class="form-group">
                    <input type="text" id="userId" name="userId" class="form-control" style="background: none; border: none" th:value="${#authentication.principal.username}" readonly>
                </div>

                <div class="form-group">
                    <label for="nickname">닉네임</label>
                </div>
                <div>
                    <input type="text" id="nickname" name="nickname" style="background: none; border: none" class="form-group" th:value="${#authentication.principal.nickname}" readonly>
                </div>
                <div class="form-group" style="width: 150px">작성일
                    <input th:value="${dto.addDate}"  style="border: none " class="form-group" readonly>
                </div>



            </div>

            <div class="form-group">
                <input type="text" id="title" name="title" style="height: 35px; background: white" class="form-control"
                      th:value="${dto.title}" placeholder="제목을 입력해 주세요" required>
            </div>

            <div class="form-group">
                <textarea name="content" id="content" class="form-control" rows="25" placeholder="내용을 입력해 주세요"
                          style="padding: 20px; background: none">[[${dto.content}]]</textarea>
            </div>
            <div class="topline">
                <div class="form-group">
                    <input type="file" id="files" name="files" multiple class="form-control-file" placeholder="파일추가" >
                </div>

                <div class="form-group btnBot">
                    <button type="submit" class="btn btn-primary">글 수정</button>
                </div>
                <div class="form-group btnBot">
                    <button type="reset" class="btn btn-secondary">리셋</button>
                </div>
                <div class="form-group btnBot">
                    <button type="button" class="btn btn-danger btnRemove">삭제</button>
                </div>




            </div>
        </form>
    </form>
    <script layout:fragment="script" th:inline="javascript">
        const frm = document.querySelector('form');
        const boardId = [[${dto.boardId}]];
        const link = [[${pageRequestDTO.getLink()}]];


        document.querySelector(".btnRemove").addEventListener("click",function (e){
            frm.action = `/board/remove?boardId=${boardId}`; //삭제시 액션경로
            frm.method = "post";
            frm.submit();
        } );
        document.querySelector(".btn-secondary").addEventListener("click",function (e) {
            location.href = `/board/list?${link}`;
        });



    </script>

    <!-- 컨텐츠에 필요한 자바스크립트가 작동 안할 시 여기다가 집어넣으면 될 수도 있음 -->
</div>


</html>