<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{/layout/layout.html}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" defer></script>
<style layout:fragment="style">
    .readBoard_form {
        margin: 0 auto;
        padding-top: 150px;
        width: 500px;
        height: 70vh;
    }
</style>

<div layout:fragment="content">
    <form action="/board/readBoard" method="get" class="readBoard_form">
        <div class="row mt-3">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        게시물
                    </div>
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <span class="input-group-text">번호</span>
                            <input type="text" class="form-control" th:value="${dto.boardId}" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">제목</span>
                            <input type="text" class="form-control" th:value="${dto.title}" readonly>
                        </div>


                        <div class="input-group mb-3">
                            <span class="input-group-text">내용</span>
                            <textarea class="form-control col-sm-5" rows="5" readonly>[[${dto.content}]]</textarea>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">아이디</span>
                            <input type="text" class="form-control" th:value="${dto.userId}" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">좋아요</span>
                            <input type="text"  class="form-control" th:value="${dto.likeUp}" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">조회수</span>
                            <input type="text" class="form-control" name="hit" th:value="${dto.hit}" readonly>
                        </div>


                        <div class="input-group mb-3">
                            <span class="input-group-text">addDate</span>
                            <input type="text" class="form-control" th:value="${#temporals.format(dto.addDate,'yyyy-MM-dd HH:mm:ss')}" readonly>
                        </div>

                    </div>
                </div><!-- end card body -->
                <div class="my-4">
                    <div class="float-end">
                        <button type="button" class="btn btn-primary">
                            <a th:href="|@{/board/modifyBoard}?boardId=${dto.boardId}|" class="text-decoration-none">수정</a>
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <a th:href="|@{/board/boardList}?${pageRequestDTO.getLink()}|" class="text-decoration-none">목록</a>
                        </button>

                    </div>
                </div>
            </div>

        </div>
    </form>



    <!-- 댓글 등록 영역 -->
    <script src="/js/reply/reply.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <div>
        <div>
            <span class="input-group-text">boardId</span>
            <input type="text" name="boardId" class="aboardId" th:value="${dto.boardId}" readonly>
            <!-- 잘 받아오는지 테스트용 -->
        </div>
        <div>
            <span class="input-group-text">아이디</span>
            <input type="text" name="userId" class="auserId" th:value="${dto.userId}" readonly>
        </div>
        <div>
            <span class="input-group-text">닉네임</span>
            <input type="text" name="nickname" class="anickname">
            <!-- board 테이블에 nickname 추가되면
            <input type="text" name="nickname" class="nickname" th:value="${dto.nickname}" readonly>
            로 수정 -->
        </div>
        <div>
            <span class="input-group-text">댓글 내용</span>
            <input type="text" placeholder="댓글을 입력해 주세요." name="content" class="acontent">
        </div>
        <button type="button" class="btn btn-primary addBtn">등록</button>
    </div>

    <!-- 댓글 등록 영역 끝 -->

    <!-- 댓글 리스트 출력 -->
    <div class="row mt-3">
        <div class="col-md-12">
            <span><i class="fa-solid fa-comment fa-flip-horizontal"></i>&nbsp;총 ㅇ개</span>
<!--            <span>총 [[${dto.replyCount}]]개</span>-->
            <span style="margin: 20px">새로고침&nbsp;<a class="refreshBtn"><i class="fa-solid fa-arrow-rotate-right" style="color: #000000;"></i></a></span>
            <ul class="list-group replyList">

            </ul>
        </div>
        <div class="row mt-3">
            <div class="col">
                <ul class="pagination replyPaging">

                </ul>
            </div>
        </div>

    </div> <!-- 댓글 목록 끝 -->

</div>

<script layout:fragment="script" th:inline="javascript">

    // 새로고침 이벤트
    const refreshBtn=document.querySelector('.refreshBtn');
    refreshBtn.addEventListener("click", function(e) {
        location.reload(); // 가장 마지막 페이지로 이동
    });

    // 여기서부터 댓글 등록 관련 자바스크립트
    const aboardId=document.querySelector(".aboardId");
    const acontent=document.querySelector(".acontent");
    const auserId=document.querySelector(".auserId");
    const anickname=document.querySelector(".anickname");
    const addBtn=document.querySelector(".addBtn");

    // 댓글 등록 버튼 클릭 이벤트
    addBtn.addEventListener("click", function(e) {
        const replyObj={boardId:aboardId.value, content:acontent.value, userId:auserId.value, nickname:anickname.value};
        // 값 받아오는지 확인용
        console.log("content.value: "+acontent.value);
        console.log("userId.value: "+auserId.value);
        console.log("nickname.value: "+anickname.value);
        console.log("boardId.value: "+aboardId.value);

        addReply(replyObj).then(result => { // reply.js(axios)
            alert(result.data.replyId); // 확인용
            acontent.value = ''; // 초기화
            location.reload(); // 새로고침
            printReplies(1, 10, true); // 가장 최근 댓글 있는 페이지로 이동
        }).catch(e => {
            alert("댓글 등록에 문제 생김");
        });
    });
    // 여기까지 댓글 등록 관련 자바스크립트

    // 여기서부터 댓글 리스트 출력 관련 자바스크립트
    const boardId = [[${dto.boardId}]]; // board Idx

    const replyList = document.querySelector('.replyList'); // 댓글 목록 DOM
    const replyPaging = document.querySelector('.replyPaging'); // 페이지 목록 DOM

    function printReplies(page, size, goLast) {
        getReplyList({boardId, page, size, goLast}).then( // reply.js(axios)에 정보 넘겨주고 페이징된 데이터 받아옴
            data => {
                console.log("data: "+data);
                printReplyList(data.dtoList); // pageResponseDTO의 dtoList
                printPages(data);
            }
        ).catch(e => {
            console.error();
        });
    }
    printReplies(1, 10, true); // 무조건 댓글 맨 뒷페이지로 시작

    // 댓글 a 태그를 눌렀을 때 페이지 이동
    let page = 1;
    let size = 10;

    // 페이지 목록 클릭 이벤트
    replyPaging.addEventListener("click", function (e){
        e.preventDefault();
        e.stopPropagation();

        const target = e.target;

        if(!target || target.tagName != 'A') return; // 타겟이 아니거나 a 태그가 아니면 종료

        const pageNum = target.getAttribute("data-page");
        page = pageNum;
        printReplies(page, size);
    });

    function printPages(data) { // 페이지 목록 출력
        // pagination
        let pageStr = ''; // 페이지를 이동하기 위한 a 태그들을 담을 변수
        if(data.prev) { // 받아온 data의 prev 값이 true라면 이전 버튼 활성화
            pageStr += `<li class="page-item"><a class="page-link" data-page="${data.start - 1}">이전</a></li>`;
        }
        for(let i = data.start; i <= data.end; i++) {
            // 현재 페이지면 active 클래스 추가
            pageStr += `<li class="page-item ${i === data.page ? "active" : ""}">
                    <a class="page-link" data-page="${i}">${i}</a></li>`;
        }
        if(data.next) { // 받아온 data의 next 값이 true 라면 다음 버튼 활성화
            pageStr += `<li class="page-item"><a class="page-link" data-page="${data.end + 1}">다음</a></li>`
        }
        console.log(pageStr);
        replyPaging.innerHTML = pageStr; // 데이터를 전달받아 완성된 페이지 이동 a 태그들을 HTML 요소로 추가

    }

    function printReplyList(dtoList) {
        let str = '';
        if (dtoList && dtoList.length > 0) {
            for (const dto of dtoList) { // dtoList를 순회하면서 댓글마다 아래에 폼에 담아 HTML 요소로 추가
                let date=(dto.addDate===dto.modDate) ? dto.addDate : (dto.modDate+" (수정됨)");
                console.log(date);
                str +=` <li class="list-group-item d-flex replyItem" data-replyId="${dto.replyId}">
                <span class="col-2">${dto.boardId}</span>
                <span class="col-2">${dto.replyId}</span>
                <span class="col-6">${dto.content}</span>
                <span class="col-2">${dto.userId}</span>
                <span class="col-2">${date}</span>

                <!-- 수정/삭제 버튼은 thymeleaf 사용해서 로그인정보의 아이디와 댓글 작성자 아이디가 일치할 시 보여주게 바꿀 거임 -->
                <span class="col-2"><a class="replyModBtn">수정</a></span>
                <span class="col-2"><a class="replyRemoveBtn">삭제</a></span>
                <!-- 신고 버튼은 thymeleaf 사용해서 로그인정보의 아이디와 댓글 작성자 아이디가 일치하지 않을 경우에만 보이게 바꿀 거임 -->
                <span class="col-2"><a class="replyReportBtn">신고</a></span>

                <!-- 댓글 수정 폼 -->
                 <div style="display: none" class="replyModifyForm">
                    <div>
                        <span class="input-group-text">boardId</span>
                        <input type="text" class="mboardId" th:value="${dto.boardId}" readonly>
                        <!-- 잘 받아오는지 테스트용 -->
                    </div>
                    <div>
                        <span class="input-group-text">아이디</span>
                        <input type="text" class="muserId" th:value="${dto.userId}" readonly>
                    </div>
                    <div>
                        <span class="input-group-text">닉네임</span>
                        <input type="text" name="nickname" class="mnickname" th:value="admin">
                    </div>
                    <div>
                        <span class="input-group-text">댓글 내용</span>
                        <input type="text" placeholder="댓글을 입력해 주세요." name="content" class="mcontent">
                    </div>
                    <button type="button" class="btn btn-primary modBtn">등록</button>
                 </div>
              </li>
               `
            }
        }
        replyList.innerHTML = str;

        // 댓글 삭제 버튼 클릭 이벤트
        document.querySelectorAll('.replyRemoveBtn').forEach(function(replyRemoveBtn) {
            replyRemoveBtn.addEventListener('click', function(e) {
                // a 태그의 parent.parent인 li에 data-replyId 속성 부여
                const replyId = e.target.parentNode.parentNode.getAttribute("data-replyId");
                removeReply(replyId).then(result => { // reply.js(axios)
                    if(!confirm("정말 삭제하시겠습니까?")) return;
                    alert(result.replyId + " 번 댓글이 삭제되었습니다."); // 확인용. 나중에 지울 거임
                    location.reload(); // 페이지 새로고침
                }).catch(e => {
                    console.log(e);
                });
            });
        });

        // 댓글 수정 버튼 클릭 이벤트
        document.querySelectorAll('.replyModBtn').forEach(function(replyModBtn) {
            replyModBtn.addEventListener('click', function(e) {
                alert("replyModBtn 클릭");
                // a 태그의 parent.parent인 li에 data-replyId 속성 부여
                const replyId = e.target.parentNode.parentNode.getAttribute("data-replyId");

                const li = e.target.parentNode.parentNode; // 나중에 수정 버튼 누르면 해당 댓글 숨기게, 해당 댓글 수정 폼은 보이게 만들 거임
                const replyModifyForm = e.target.parentNode.parentNode.querySelector('.replyModifyForm'); // 해당 댓글 수정 폼
                const mboardId = replyModifyForm.querySelector('.mboardId');
                const muserId = replyModifyForm.querySelector('.muserId');
                const mnickname = replyModifyForm.querySelector('.mnickname');
                const mcontent = replyModifyForm.querySelector('.mcontent');
                const modBtn = replyModifyForm.querySelector('.modBtn');

                getReply(replyId).then(reply => { // reply.js(axios)로 해당 댓글 정보 가져오기
                    console.log(reply); // 제대로 가져왔는지 확인용
                    replyModifyForm.style.display = 'block'; // replyModifyForm이 보이게
                    mnickname.value = reply.nickname;
                    muserId.value = reply.userId;
                    mboardId.value = reply.boardId;
                    mcontent.value = reply.content; // 값 채워넣기
                }).catch(e => alert('댓글 가져오기(getReply) 실패'));

                modBtn.addEventListener("click", function(e) { // 수정 완료 버튼 클릭 이벤트
                    alert("수정 완료 버튼이 클릭되었습니다"); // 버튼 눌렸는지 확인용
                    const replyObj={content:mcontent.value, replyId:replyId};
                    modifyReply(replyObj).then(result => { // reply.js(axios)로 해당 댓글 수정 post
                        alert(result.replyId + '번째 댓글이 수정되었습니다.'); // 확인용
                        mcontent.value = ''; // 초기화
                        replyModifyForm.style.display = 'none'; // 수정폼 다시 사라지게 함
                        printReplies(1, 10, true); // 가장 최근 댓글이 달린 페이지로 이동
                    }).catch(e => {
                        alert('댓글 수정 실패');
                    });
                });


            });
        });

    }

</script>


</html>