<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{/layout/layout.html}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" defer></script>

<div layout:fragment="content">
    <link rel="stylesheet" href="/css/my/mypage.css">
    <div class="form-group modifyEmail_div">
        <form action="/my/modifyEmail" method="post">
            <div class="form-group">
                <label for="email" class="form-label">Email</label>
                <div class="input-group">
                    <input type="email" placeholder="email@email.com" name="email" id="email" class="form-control">
                    <div class="failure-message hide">사용할 수 없는 이메일입니다 <br>다른 이메일을 입력하고 인증번호 전송을 다시 시도하세요</div>
                </div>
                <div class="input-group-btn">
                    <button type="button" id="btnSendEmail" class="btn btn-secondary">인증번호전송</button>
                </div>
            </div>
            <div class="form-group">
                <label for="emailCheck" class="form-label">인증번호</label>
                <div class="input-group">
                    <input type="text" placeholder="인증번호" name="emailCheck" id="emailCheck" class="form-control">
                </div>
                <div class="input-group-btn">
                    <button type="button" id="auth_check" class="btn btn-secondary">인증확인</button>
                </div>
            </div>
            <div class="form-group">
                <div class="text-right">
                    <button type="button" href="#" class="btn btn-primary modifyBtn">이메일 정보 변경</button>
                </div>
            </div>
        </form>
    </div>
    <script src="/js/my/modifyEmail.js"></script>
</div>


</html>