<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout.html}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" defer></script>

<div layout:fragment="content" >
    <link rel="stylesheet" href="/css/my/mypage.css">
    <div class="modify_div">
        <div>
            <h1>비밀번호 재설정</h1>
        </div>
        <section>
            <div class="w-100 h-100">
                <form action="/my/modifyPasswd" method="post" class="w-100 p-4">
                    <div class="form-group">
                        <label for="existPasswd" class="form-label">기존 비밀번호</label>
                        <div class="input-group input_flex">
                            <input type="password" placeholder="비밀번호" name="existPasswd" id="existPasswd" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="passwd" class="form-label">새로운 비밀번호</label>
                        <div class="input-group input_flex">
                            <input type="password" placeholder="비밀번호" name="passwd" id="passwd" class="form-control"
                            onkeyup="noSpaceFormReset(this)" onchange="noSpaceFormReset(this)">
                        </div>
                        <div class="strongPassword-message hide">8글자 이상, 영문, 숫자, 특수문자(@$!%*#?&amp;)를 사용하세요</div>
                    </div>
                    <div class="form-group">
                        <label for="passwdCheck" class="form-label">새로운 비밀번호 확인</label>
                        <div class="input-group input_flex">
                            <input type="password" placeholder="비밀번호 확인" name="passwdCheck" id="passwdCheck" class="form-control">
                        </div>
                        <div class="mismatch-message hide">비밀번호가 일치하지 않습니다</div>
                    </div>
                    <div class="auth_btn_div">
                        <button type="button" class="btn btn-secondary modifyBtn">비밀번호 재설정</button>
                    </div>
                    <hr>
                    <div class="modify_btn_div">
                        <a href="/my/mypage" class="back">뒤로가기</a>
                        <a href="/index">메인으로</a>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <script src="/js/my/modifyPasswd.js"></script>
</div>


</html>
<!--xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" 시큐리티 화면 인증처리 -->