<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/layout/layout.html}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" defer></script>
<style layout:fragment="style">
    .mypage_div {
        margin: 0 auto;
        width: 1170px;
    }

    .border_line_bottom {
        border-bottom: 1px solid #ededed;
    }

    .tab_wrap {
        height: 61px;
    }

    .tab {
        position: relative;
        top: 1px;
        list-style: none;
        height: 70px;
    }

    .tab > li {
        float: left;
        text-align: center;
        width: 150px;
        height: 60px;
    }

    .active {
        border-bottom: 2px solid deepskyblue;
    }
    .active > a {
        color: deepskyblue;
    }

    .my_content {
        width: 1170px;
        padding: 30px 15px 0 15px;
    }
    #credits {
        margin-top: 50px;
    }
</style>


<div layout:fragment="content">
    <div class="mypage_div">
        <div class="border_line_bottom">
            <div class="tab_wrap">
                <ul class="tab">
                    <li class="active">
                        <a href="/my/mypage">회원정보 보기</a>
                    </li>
                    <li>
                        <a href="/my/mySignBoardList">작성 아카이브 보기</a>
                    </li>
                    <li>
                        <a href="/my/myBoardList">작성 글 보기</a>
                    </li>
                    <li>
                        <a href="/my/myReplyList">작성 댓글 보기</a>
                    </li>
                    <li>
                        <a href="/my/myLikedList">스크랩 글 보기</a>
                    </li>
                    <li>
                        <a href="/my/myReportList">신고/문의</a>
                    </li>
                </ul>
            </div>
        </div>
            <div class="my_content">
                <h1>회원정보 <box-icon name='universal-access'></box-icon></h1> <!-- 박스아이콘 잠시 박아둠 (없애셔도 됨) -->
                <div class="col-sm-9">
                    <div>
                        <span>이메일 : </span>
                        <span th:text="${userInfo.email}"></span>
                    </div>
                    <div>
                        <span>아이디 : </span>
                        <span th:text="${userInfo.userId}"></span>
                    </div>
                    <div>
                        <span>닉네임 : </span>
                        <span th:text="${userInfo.nickname}"></span>
                    </div>
                    <div>
                        <span>가입일 : </span>
                        <span th:text="${userInfo.regDate}"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div>
                        <ul>
                            <li>
                                <a href="/my/modifyMyInfoAuth" >회원정보 변경</a>
                            </li>
                            <li>
                                <a href="/my/modifyEmailAuth" >이메일 주소 변경</a>
                            </li>
                            <li>
                                <a href="/my/modifyPasswd" >비밀번호 재설정</a>
                            </li>
                            <li>
                                <a href="/my/withdrawal">탈퇴</a>
                            </li>
                            <li>
                                <button id="message-box" sec:authorize="isAuthenticated()">쪽지함</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    <!-- 쪽지함 시작 -->
    <link rel='stylesheet' href="/css/message/message.css?ab"/>
    <div class="modal message_modal modal_container" tabindex="-1">
        <div class="modal-dialog message_modal_dialog">
            <div class="modal-content message_modal_view_content">
                <div class="modal-header modal_view_header message_modal_view_header">
                    <button type="button" class="message_btn_close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                </div>
                <div class="modal-body message_modal_body">
                    <nav class="message_nav"> <!-- 쪽지함 네비게이션 -->
                        <div class="message_nav_received active">받은 쪽지함</div>
                        <div class="message_nav_sent">보낸 쪽지함</div>
                    </nav>
                    <div class="received_message_container">
                        <table class="received_message_content_container">
                        </table>
                    </div>
                    <div class="sent_message_container disnone">
                        <table class="sent_message_content_container">
                        </table>
                    </div>
                </div> <!-- Modal body End -->
                <div class="modal-footer message_modal_footer">
                    <div>
                        <button id="msgWrite">쪽지 보내기</button>
                    </div>
                    <div class="received_page_container">
                    </div>
                    <div class="sent_page_container disnone">
                    </div>
                    <div>
                        <button id="msgSelectRemove">선택 삭제</button>
                        <button id="msgAllSelect">전체 선택</button>
                    </div>
                </div> <!-- Modal footer End -->
            </div> <!-- Modal Content End -->
        </div> <!-- Modal Dialog End -->
    </div><!-- Modal Container End -->

    <div class="modal message_view_modal modal_container" tabindex="-1">
        <div class="modal-dialog message_view_modal_dialog">
            <div class="modal-content message_view_modal_content">
                <div class="modal-header modal_view_header message_modal_view_header">
                    <button type="button" class="message_btn_close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                </div>
                <div class="modal-body message_view_modal_body">
                    <div class="message_view_content_wrap">
                    </div>
                </div> <!-- Modal body End -->
                <div class="modal-footer message_view_modal_footer">
                    <!--                    "<div><button class=\"msgViewReplyBtn\">답장하기</button></div>";-->
                </div> <!-- Modal footer End -->
            </div> <!-- Modal Content End -->
        </div> <!-- Modal Dialog End -->
    </div><!-- Modal Container End -->

    <div class="modal message_write_modal modal_container" tabindex="-1">
        <div class="modal-dialog message_write_modal_dialog">
            <div class="modal-content message_write_modal_content">
                <div class="modal-header modal_write_header">
                    <button type="button" class="message_btn_close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                </div>
                <div class="modal-body message_write_modal_body">
                    <div class="message_write_content_wrap">
                        <div class="message_writer"><span>받는 사람 </span> <input type="text" class="msgReceiverName" placeholder="받는 사람의 아이디를 입력해주세요."> </div>
                        <hr>
                        <textarea cols="68" rows="7" class="msgContent"></textarea>
                    </div>
                </div> <!-- Modal body End -->
                <div class="modal-footer message_modal_footer">
                    <div><button class="sendMsg">보내기</button></div>
                </div> <!-- Modal footer End -->
            </div> <!-- Modal Content End -->
        </div> <!-- Modal Dialog End -->
    </div><!-- Modal Container End -->


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/message/messageAsync.js"></script>
    <script src="/js/message/message.js"></script>

    <!-- 쪽지함 끝 -->

    <script th:inline="javascript">
        const msg = [[${msg}]];
        console.log(msg);

        if(msg != null){
            alert(msg);
        }
    </script>
</div>



</html>