<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{/layout/layout.html}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" defer></script>
<div layout:fragment="content">
    <link rel="stylesheet" href="/css/my/mypage.css">
    <div class="auth_div">
        <h1>회원 탈퇴</h1>
        <p>회원의 정보를 안전하게 보호하기 위해 비밀번호를 다시 한번 확인 합니다.</p>
        <form action="/my/withdrawal" method="post">
            <div class="form-group">
                <div class="input-group">
                    <input type="password" placeholder="비밀번호" name="passwd" id="passwd" class="form-control">
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-primary passwdCheck">확인</button>
            </div>
        </form>
    </div>
    <script src="/js/my/msg.js"></script>
    <script th:inline="javascript">
        const withdrawalForm = document.querySelector('form');
        document.querySelector('.passwdCheck').addEventListener('click', function (e){
           e.preventDefault();
           e.stopPropagation();

           if(confirm("정말 탈퇴하시겠습니까?")){
               withdrawalForm.submit();
           }
        });
    </script>
</div>
</html>
<!--xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" 시큐리티 화면 인증처리 -->