<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.sbarchive.mapper.board.BoardMapper">

    <insert id="insertBoard">
        INSERT INTO board (userId, title, content, hit, like, content, addDate,modDate)
        VALUES ('admin', #{title}, #{content}, #{hit}, #{like}, #{content}, now(),now())
    </insert>
    <select id="selectAll" resultType="com.project.sbarchive.vo.board.BoardVO">
        select * from board order by boardId desc
    </select>
    <select id="read" resultType="com.project.sbarchive.vo.board.BoardVO">
        select * from board where boardId =  (#{boardId})
    </select>
    <update id="update" >
        update  board set  title = #{title}, content =#{content}, modDate = now()  where boardId = #{boardId}
    </update>
    <update id="hit" >
        update  board set  hit = #{hit}+1  where boardId = #{boardId}
    </update>
    <update id="like" >
        update  board set  like = #{like}+1  where boardId = #{boardId}
    </update>
    <delete id="delete" >
        delete  from board where boardId = (#{boardId})
    </delete>

</mapper>