<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.sbarchive.mapper.board.BoardMapper">

    <insert id="add" parameterType="com.project.sbarchive.vo.board.BoardVO" useGeneratedKeys="true" keyProperty="boardId">
        INSERT INTO board (userId, title, content, hit, likeUp,  addDate,modDate, nickname)
        VALUES (#{userId} , #{title}, #{content}, 0, 0, now(),now(),#{nickname} )
    </insert>
    <select id="getBoardList" resultType="com.project.sbarchive.vo.board.BoardVO">
        select * from board order by boardId desc
    </select>
    <select id="getBoard" resultType="com.project.sbarchive.vo.board.BoardVO">
        select * from board where boardId =  #{boardId}
    </select>
    <update id="modify" >
        update board set  title = #{title}, content =#{content}, modDate = now()  where boardId = #{boardId}
    </update>
    <update id="hitCount" >
        UPDATE board  SET hit = hit + 1  WHERE boardId = #{boardId}
    </update>
    <update id="boardlikeUp" >
        UPDATE board  SET `likeUp` = `likeUp` + 1  WHERE boardId = #{boardId}
    </update>
    <update id="boardlikeDown" >
        UPDATE board  SET `likeUp` = `likeUp` - 1  WHERE boardId = #{boardId}
    </update>


    <delete id="remove" >
        delete from board where boardId = (#{boardId})
    </delete>
    <sql id="search">
        <where>
            <if test="types != null and types.length > 0">

                <foreach collection="types" item="type" open="(" close=")" separator=" OR">
                    <if test="type == 'n'.toString()">
                        `userId` like concat('%',#{keyword},'%')
                    </if>
                    <if test="type == 's'.toString()">
                        `title` like concat('%',#{keyword},'%')
                    </if>
                    <if test="type == 'c'.toString()">
                        `content` like concat('%',#{keyword},'%')
                    </if>
                </foreach>
            </if>
        </where>
    </sql>
    <select id="selectList" resultType="com.project.sbarchive.vo.board.BoardVO" >
        select * from board
        <include refid="search" />
        order by boardId desc limit #{skip}, #{size}
    </select>
    <select id="getCount" resultType="int">
        select count(*) from board
        <include refid="search" />
    </select>

    <insert id="likeUp" >
        insert into board_like (boardId, userId, addDate,title) values (#{boardId} , #{userId}, now(), #{title})
    </insert>

    <delete id="likeDown" >
        delete from board_like where boardId = (#{boardId}) and userId = #{userId}
    </delete>
    <select id="getLike" resultType="int">
        select count(*) from board_like where boardId = #{boardId} and userId = #{userId}
    </select>



</mapper>