<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.sbarchive.mapper.board.BoardReportMapper">

    <insert id="add" parameterType="com.project.sbarchive.vo.board.BoardReportVO" useGeneratedKeys="true" keyProperty="rBoardId">
        INSERT INTO report_board ( userId, title, content,   isAnswered, addDate, boardId)
        VALUES (#{userId},#{title},#{content}, 0, now(), #{boardId} )
    </insert>

    <select id="getBoard" resultType="com.project.sbarchive.vo.board.BoardReportVO">
        select * from report_board where rBoardId =  #{rBoardId}
    </select>

    <update id="isAnswered">
        UPDATE report_board  SET isAnswered = isAnswered + 1  WHERE rBoardId = #{rBoardId}
    </update>
    <select id="getCount" resultType="int">
        select count(*) from report_board
    </select>
    <select id="selectList" resultType="com.project.sbarchive.vo.board.BoardReportVO" >
        select * from report_board
        order by rBoardId desc limit #{skip}, #{size}
    </select>
    <select id="getBoardList" resultType="com.project.sbarchive.vo.board.BoardReportVO">
        select * from report_board order by userId desc
    </select>
</mapper>