<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.sbarchive.mapper.board.BoardMapper">

    <insert id="add">
        INSERT INTO board (userId, title, content, hit, likeUp,  addDate,modDate, nickname)
        VALUES (#{userId} , #{title}, #{content}, 0, #{likeUp}, now(),now(),#{nickname} )
    </insert>
    <select id="getBoardList" resultType="com.project.sbarchive.vo.board.BoardVO">
        select * from board order by boardId desc
    </select>
    <select id="getBoard" resultType="com.project.sbarchive.vo.board.BoardVO">
        select * from board where boardId =  #{boardId}
    </select>
    <update id="modify" >
        update board set  title = #{title}, content =#{content}, modDate = now()  where boardId = #{boardId}
    </update>
    <update id="hit" >
        UPDATE board  SET hit = hit + 1  WHERE boardId = #{boardId}
    </update>
    <update id="likeUp" >
        update board set  likeUp = likeup + 1  where boardId = #{boardId}
    </update>
    <delete id="remove" >
        delete from board where boardId = (#{boardId})
    </delete>
    <sql id="search">
        <where>
            <if test="types != null and types.length > 0">

                <foreach collection="types" item="type" open="(" close=")" separator=" OR">
                    <if test="type == 'n'.toString()">
                        `userId` like concat('%',#{keyword},'%')
                    </if>
                    <if test="type == 's'.toString()">
                        `title` like concat('%',#{keyword},'%')
                    </if>
                    <if test="type == 'c'.toString()">
                        `content` like concat('%',#{keyword},'%')
                    </if>
                </foreach>
            </if>
        </where>
    </sql>
    <select id="selectList" resultType="com.project.sbarchive.vo.board.BoardVO" >
        select * from board
        <include refid="search" />
        order by boardId desc limit #{skip}, #{size}
    </select>
    <select id="getCount" resultType="int" >
        select count(*) from board
        <include refid="search" />
    </select>

</mapper>