<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout.html}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" defer></script>
<div layout:fragment="content">
    <link rel="stylesheet" href="/css/user/user.css">
    <div class="find_div">
        <div class="find_tit" >
            <h1>비밀번호 찾기</h1>
            <p>가입한 이메일로 임시 비밀번호를 보내드립니다</p>
        </div>
        <section class="find_section">
            <div class="w-100 h-100">
                <form action="/user/findPassword" method="post" class="w-100 p-4">
                        <div class="form-group">
                            <label for="userId" class="form-label">아이디 입력</label>
                            <div class="input-group input_flex">
                                <input type="text" placeholder="userId" name="userId" id="userId" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="form-label">이메일 입력</label>
                            <div class="input-group input_flex">
                                <input type="email" placeholder="email@email.com" name="email" id="email" class="form-control">
                                <button type="button" class="btn btn-secondary" id="btnSendEmail">인증번호 전송</button>
                            </div>
                            <div class="failure-message hide">일치하는 회원 정보를 찾을 수 없습니다</div>
                        </div>
                    <div class="form-group">
                        <label for="emailCheck" class="form-label">인증번호 입력</label>
                        <div class="input-group input_flex">
                            <input type="text" placeholder="인증번호" name="emailCheck" id="emailCheck" class="form-control">
                        </div>
                    </div>
                    <div style="margin-bottom: 20px">
                        <button type="button" id="auth_check" class="btn btn-primary btn_width_100">비밀번호 찾기</button>
                    </div>
                    <hr>
                    <div style="display: flex; justify-content: space-between">
                        <a href="/user/login">로그인</a>
                        <a href="/index">메인으로</a>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <script th:inline="javascript">
        let msg = [[${msg}]];

        if(msg != null) {
            alert(msg);
        }

        let confirmKey = "";

        // ***** email 인증키 보내기 *****
        const btnSendEmail = document.getElementById("btnSendEmail");
        const email = document.getElementById("email");
        const userId = document.getElementById("userId");
        let failureMessage = document.querySelector(".failure-message"); // 이메일 정보를 찾을 수 없습니다


        btnSendEmail.addEventListener('click', function (e){
            e.preventDefault();

            const xhr = new XMLHttpRequest(); // ajax 작업을 위한 객체 생성
            xhr.open('POST', '/user/accountCheck?userId=' + userId.value + '&email=' + email.value );
            xhr.onload = function() {
                if (xhr.status === 200) {
                    // 서버 응답이 성공인 경우
                    if(xhr.response == 0){ // 서버에 이메일과 아이디가 없는 경우
                        failureMessage.classList.remove('hide'); // 이메일 정보를 찾을 수 없습니다

                    } else if (xhr.response == 1) { // 서버에 이메일과 아이디가 일치하는 경우 인증키 보냄
                        failureMessage.classList.add('hide');

                        const xhr = new XMLHttpRequest(); // ajax 작업을 위한 객체 생성
                        let mailTo = email.value;
                        xhr.open('GET', '/mail/sendConfirmMail?mailTo=' + mailTo );
                        xhr.onload = function() {
                            if (xhr.status === 200) {
                                // 서버 응답이 성공인 경우
                                alert("이메일로 인증키를 확인해주세요");
                                confirmKey = xhr.response; //(controller 에서 반환된 confirmKey 불러오기)

                            } else {
                                // 서버 응답이 실패인 경우
                                alert("이메일 인증키 전송에 실패했습니다");
                            }
                        };
                        xhr.send();
                    }
                } else {
                    // 서버 응답이 실패인 경우
                    alert("서버 응답 실패");
                }
            };
            xhr.send();
        });

        // ***** 인증 완료하면  *****
        const auth_check = document.getElementById("auth_check");
        const emailCheck = document.getElementById("emailCheck");
        const form = document.querySelector('form');

        auth_check.addEventListener("click", function (e){
            e.preventDefault();

            if(confirmKey == emailCheck.value) {
                const xhr = new XMLHttpRequest(); // ajax 작업을 위한 객체 생성
                let mailTo = email.value;
                xhr.open('GET', '/mail/sendTempPwMail?mailTo=' + mailTo );
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        // 서버 응답이 성공인 경우
                        alert("이메일로 임시 비밀번호를 발송했습니다");
                        location.href="/user/login";

                    } else {
                        // 서버 응답이 실패인 경우
                        alert("임시 비밀번호 전송에 실패했습니다");
                    }
                };
                xhr.send();
            } else {
                alert("인증 코드를 다시 확인해주세요")
            }
        });
    </script>
</div>
</html>