<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{/layout/layout.html}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" defer></script>


<div layout:fragment="content">
    <link rel="stylesheet" href="/css/signboard/add.css">

    <div class="modal add_modal modal_container" tabindex="-1">

        <div class="modal-dialog">

            <div class="modal-content modal_view_content">

                <div class="modal-header modal_view_header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                </div>

                <div class="modal-body add_modal_body">
                    <div class="search_header">
                        검색할 가게명을 입력해주세요
                    </div>
                    <div class="search_content">
                        <input id="search_input" name="query" type="text" minlength="1" placeholder="  search...">
                        <button id="search_btn"><span id="btn_icon">search</span></button>
                    </div>
                    <table class="search_result_table">

                    </table>
                </div> <!-- Modal body End -->

                <div class="modal-footer">

                </div> <!-- Modal footer End -->



            </div> <!-- Modal Content End -->

        </div> <!-- Modal Dialog End -->

    </div><!-- Modal Container End -->



    <div class="add_container">
        <div class="sb_reg_container">
            <button class="researchBtn fa-bounce"><i class="fa-solid fa-magnifying-glass"></i> 가게 찾기 </button>
            <form action="/signboard/add" method="post" enctype="multipart/form-data">
                <input type="hidden" name="userId" th:value="${user.userId}">
                <input type="hidden" name="xOffSet" value="">
                <input type="hidden" name="yOffSet" value="">
                <div class="add_sb_wrap"><span class="add_signboard_span">작성자 </span> <input type="text" name="nickname" class="add_signboard_input" th:value="${user.nickname}" readonly></div>
                <div class="add_sb_wrap"><span class="add_signboard_span">가게이름 </span> <input type="text" name="title" class="add_signboard_input" readonly></div>
                <div class="add_sb_wrap"><span class="add_signboard_span">주소 </span><input type="text" name="address" class="add_signboard_input" readonly></div>
                <textarea class="add_signboard_content" name="content" rows="10" cols="50" maxlength="200"></textarea>
                <div class="add_sb_fileWrap">
                    <input class="upload-name" value="첨부파일" placeholder="첨부파일">
                    <label for="files">파일찾기</label>
                    <input type="file" id="files" name="files" multiple="multiple">
                </div>
            </form>
        </div>
        <button type="button" id="addBtn"> 등록 </button>
    </div>


    <!-- 컨텐츠에 필요한 자바스크립트가 작동 안할 시 여기다가 집어넣으면 될 수도 있음 -->
    <script src="https://spi.maps.daum.net/imap/map_js_init/postcode.v2.js"></script>
    <script src="/js/signboard/signBoardRegAsync.js"></script>
    <script src="/js/signboard/signBoardReg.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</div> <!-- 콘텐츠 레이아웃 박스 끝 -->


</html>
