<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.sbarchive.mapper.reply.ReplyMapper">

    <!-- 그냥 댓글 추가 -->
    <insert id="addReply" parameterType="com.project.sbarchive.vo.reply.ReplyVO" useGeneratedKeys="true" keyProperty="replyId">
        INSERT INTO reply(boardId, userId, nickname, content, addDate, modDate)
        VALUES (#{boardId}, #{userId}, #{nickname}, #{content}, NOW(), NOW())
    </insert>

    <!-- 댓글 추가한 후, replyId 값 가져와서 parentReplyId에 넣어줌 -->
    <update id="modifyReplyId">
        update reply set parentReplyId=#{parentReplyId} where replyId=#{replyId}
    </update>

    <!-- 그냥 댓글 조회 -->
    <select id="getReply" resultType="com.project.sbarchive.vo.reply.ReplyVO">
        select * from reply where replyId=#{replyId}
    </select>

    <!-- 댓글 수정 -->
    <update id="modifyReply">
        update reply set content=#{content}, modDate=NOW() where replyId=#{replyId}
    </update>

    <!-- 대댓글 삭제용(진짜 삭제) -->
    <delete id="removeReReply">
        delete from reply where replyId=#{replyId}
    </delete>

    <!-- 원댓글 논리 삭제(원댓글을 진짜 삭제하지 않고 isParentReplyDeleted=1이면 '삭제된 댓글입니다' 출력되게 할 예정 -->
    <update id="removeReply">
        update reply set isParentReplyDeleted=1 where replyId=#{replyId}
    </update>

    <update id="isReported">
        update reply set isReported=1 where replyId=#{replyId}
    </update>

    <!-- 원댓글만 가져옴 -->
    <select id="getReplyList" resultType="com.project.sbarchive.vo.reply.ReplyVO">
        SELECT * FROM reply WHERE boardId = #{boardId} AND replyDepth=0
        ORDER BY parentReplyId ASC limit #{skip}, #{size}
    </select>

    <!-- 대댓글만 가져옴 -->
    <select id="getReReplies" resultType="com.project.sbarchive.vo.reply.ReplyVO">
        select * from reply where boardId=#{boardId} and parentReplyId=#{parentReplyId} and replyDepth=1
        order by parentReplyId asc
    </select>

    <!-- 원댓글의 개수만 가져옴 -->
    <select id="getReplyCount" resultType="int">
        select count(*) from reply where boardId=#{boardId} and replyDepth=0
    </select>

    <!-- 대댓글 추가 -->
    <insert id="addReReply" parameterType="com.project.sbarchive.vo.reply.ReplyVO" useGeneratedKeys="true" keyProperty="parentReplyId">
        INSERT INTO reply(boardId, userId, nickname, content, addDate, modDate, replyDepth, parentReplyId)
        VALUES (#{boardId}, #{userId}, #{nickname}, #{content}, NOW(), NOW(), 1, #{parentReplyId})
    </insert>

    <!-- 대댓글 개수 가져옴 -->
    <select id="countReReplies" resultType="int">
        SELECT COUNT(*) FROM reply WHERE parentReplyId = #{parentReplyId} AND replyDepth=1;
    </select>

    <!-- 신고 처리된 댓글은 '관리자에 의해 규제된 댓글입니다' 문구 출력 -->
    <update id="reportedReply">
        update reply set isReported=1 where replyId=#{replyId}
    </update>








    <!-- 여기서부터 Board에서 replyCount 나타낼 때 사용하는 메서드 -->
    <update id="upReplyCount">
        update board set replyCount = replyCount + 1 where boardId=#{boardId}
    </update>

    <update id="downReplyCount">
        update board set replyCount = replyCount - 1 where boardId=#{boardId}
    </update>

</mapper>