.board_form {
    margin: 25px auto;
    padding: 35px;
    width: 1200px;
}

#files {
    font-size: 16px;
}

#content {
    white-space: pre-line;
    width: 1140px;
    height: 60vh;
    border: 1px solid rgba(0,0,0,0.1);
    border-color: #ecf0f1;
    resize: none;
    font-size: 18px;
}
.topline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;

}
.fa-arrow-right {
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.fs1 {
    margin-right: 20px;margin-bottom: 10px;
}
.fc1 {
    padding: 20px; background: none;
}
.board_target_info {
    padding: 20px 0 0 20px;
    position: absolute;
}
#content {
    white-space: pre-line;
    position: relative;
    padding: 20px;
    background: none;
}

.report_content {
    display: none;
    width: 1130px;
    word-wrap: break-word;
}

.moreViewBtn, .closeViewBtn {
    padding: 0 5px;
}