<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout.html}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" defer></script>

<div layout:fragment="content">
    <link rel="stylesheet" href="/css/map/map.css??">

    <div class="kakao_map_container">
<!--        <div class="main_title_container"><h2>< 외국어 간판 지도 ></h2></div>-->
        <div class="info_container">
            <!-- 검색 칸 -->
            <div class="search_wrap">
                <div class="search_bar_wrap">
                    <i class="fa-solid fa-magnifying-glass search_icon"></i>
                    <input type="text" id="map_search" placeholder="가게를 검색해보세요">
                </div>
                <hr>
                <div class="try_search_wrap">
                    <i class="fa-solid fa-magnifying-glass try_search_icon"></i>
                    <br>
                    <br>
                    <br>
                    <p> 가게를 검색해보세요 </p>
                </div>
                <div class="infos_wrap">

                </div>
                <div class="s_page_wrap">
<!--<    1    2    3    4    5    >-->
                </div>
                <input type="hidden" id="sPageNumber" value="1">
<!--                <div class="add_sb_link_btn"> <a href="/signboard/add"><button>외국어 간판 기록하기</button></a> </div>-->
            </div>
            <!-- 검색 결과 칸 -->
            <div class="info_wrap">
                <div class="img_box">
                    <img src="/images/img/favicon.png">
                </div>
                <div class="info_box">
                    <div class="info_title">테스트 이 름 테스트</div>
                    <div class="info_date">2023-12-12 14:38:57</div>
                    <div class="info_nickname">작성자 : tester</div>
                    <div class="info_tap">
                        <p class="tap_info active">정보</p>
                        <p class="tap_images">사진</p>
                    </div>
                    <div class="info_content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consectetur cumque inventore iure nostrum odio quod repudiandae rerum similique veritatis? Ad aliquam at beatae debitis delectus esse in natus tempore?</div>
                    <div class="info_images" style="display: none">
                        <img src="/images/img/favicon.png" alt="">
                        <img src="/images/img/g-logo.png" alt="">
                        <img src="/images/img/gitnub_logo.png" alt="">
                        <img src="/images/img/logo_.png" alt="">
                    </div>
                </div>
                <div class="close_box">
                    <box-icon name='chevron-left'></box-icon>
                </div>
            </div>
        </div>
        <div class="map_container">
            <div id="map"></div>
            <div id="map2"></div>
        </div>
    </div>

    <div class="modal modal_container" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content modal_view_content">
                <div class="modal-header modal_view_header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <div class="modal_footer_imgs">

                    </div>
                    <div class="modal_footer_btns">
                    </div>
                </div> <!-- Modal footer End -->
            </div> <!-- Modal Content End -->
        </div> <!-- Modal Dialog End -->
    </div><!-- Modal Container End -->

    <script src="/js/signboard/modalAsync.js"></script>
    <script src="/js/map/kakaoMapApiAsync.js?"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!--  API 호출  -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8acb6543ebcddde72944ae402428a215&libraries=services"></script>
    <!-- API 설정 ( 지도를 담을 DOM, 중심 좌표, 지도의 확대, 축소의 정도 )을 담은 JS.  API는 해당 설정을 바탕으로 객체를 반환해줌 -->
    <script src="/js/map/kakaoMapApi.js"></script>
</div>


</html>