.board_form {
    margin: 25px auto;
    padding: 35px;
    width: 1200px;
}
#title {
    height: 60px;
    padding-left: 20px;
    font-size: 30px;
}
#content {
    white-space: pre-line;
    width: 100%;
    height: 60vh;
    border: 1px solid rgba(0,0,0,0.1);
    border-color: #ecf0f1;
    resize: none;
    font-size: 18px;
}
.topline {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.fc1 {
    background: none;
    border: none;
}
.fc2 {
   height: 35px; background: white;
}
.fc3 {
    padding: 20px; background: none;
}