.boardList_form {
    margin: 0 auto;
    padding-top: -50px;
    width: 100%

}
.searchline {
    display: flex;
    justify-content: center;
    align-items: center;
}
.notice {
    font-weight: bold;
    font-size: 16px;
    padding: 2px;
    margin: 0 2px;

}
.admin-row {
    background: #e7e7e7;
}
th {
    text-align: center !important;
}
.c1 {
    display: flex; flex-direction: column; text-align: center;
    align-items: center;
}
.d1 {
    width: 1200px; margin: 25px; padding: 35px;
}
.fs1 {
    margin-right: 20px;
}
.fc1 {
    width: 300px;
}
.searchBtn {
    margin: 0 5px;
}
.addboard {
    margin-left: 5px; background: #c3dbdf
}
.addnotice {
    margin-left: 5px; background: #01B0D1;
}
.title1 {
    text-align: center;
}

.table > tbody > tr > td {
    line-height: normal;
    vertical-align: center;
}