.boardModify_form {
    margin: 0 auto;
    padding-top: 150px;
    width: 800px;
    height: 1000px;

}
textarea {
    width: 100%;
    height: 6.25em;
    border: none;
    resize: none;
}
.topline {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnBot{
    margin-right: 5px;
}
.fc1 {
    background: none; border: none;
}
.addDat {
    width: 150px;
}
.con1 {
    padding: 20px; background: none;
}
.fc2 {
    height: 35px; background: white;
}