textarea {
    margin: 0 auto;
    border: 2px solid #d3d3d3;
    border-radius: 10px;
    width: 100%;
    height: 6.25em;
    resize: none;
}
.form1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mt-3 {
    width: 1200px;
    margin: 25px;
    padding: 35px;
}
.btn_end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.topline {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.card-body1 {
    border: 2px solid #d3d3d3;
    border-radius: 10px;
}
.imgWidth {
    max-width: 150px;
}
#fc1 {
    font-size: 30px;
    background: white;
    border: none;
    width: 100%;
    margin: 10px;
}
.fc2 {
    padding: 20px;
}
.fasol {
    border: none;background: none;color: red;
}
.ff1 {
    border: none;background: none;color: red;
}
.dd1 {
    display: inline-block;
    text-align: right;
}
#content {
    padding: 20px; background: none; min-height: 60px;
}
.reportBtn {
    background: #d43f3a; color: white !important;
}